@font-face {
                    font-family:roboto;
                    src:url('../font/Roboto/Roboto-Medium.ttf');
                  }
                  @font-face {
                    font-family:roboto-italic;
                    src:url('../font/Roboto/Roboto-MediumItalic.ttf');
                  }
body{
font-family: roboto !important;
}
.main-navbar{
position:sticky;
top:0;
z-index:2;
}
h1{
font-family:roboto-italic;
color:red !important;
font-size: 25px !important;
margin-bottom: -10px !important;
}
.logo-sub{
font-size: 12px;
}
.subHeader{
display: flex;
justify-content: space-between;
padding: 5px;
background-color: black;
color: white;
}
.Nav-Link{
color:black;
text-decoration: none;
padding-left: 5px;
padding-right: 5px;
border-radius: 3px;
transition: 0.5s;
}
.bg-body-tertiary{
background-color: white;
}
.Nav-Link:hover{
transition: 0.5s;
background-color: red;
color:white;
}
a{
text-decoration: none;
color:black;
font-size:15px;
}
/* .active{
  background-color: red;
  color:white;
} */