.navbar-main{
border: 1px solid red;
display: flex;
justify-content: space-between;
}
.navbar-menu ul{
display: flex;
width: 400px;
list-style: none;
justify-content: space-around;
}
/* .navbar-menu ul li::after{
content:"";
display: block;
position: relative;
height:2px !important;
width:0px !important;
background-color: red;
transition:0.5s;
} */
.navbar-menu ul li{
transition: 0.5s;
padding: 2px;
border-radius: 2px;
}
.navbar-menu ul li:hover{
background-color:red;
color: white;
transition:0.5s;
}
