.navbar-main{
border: 1px solid red;
display: flex;
justify-content: space-between;
}
.navbar-menu ul{
display: flex;
width: 400px;
list-style: none;
justify-content: space-around;
}
.navbar-icon{
margin-right:5px;
}
.navbar-menu ul li{
transition: 0.5s;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2px;
border-radius: 2px;
}
.navbar-menu ul li:hover{
background-color:red;
color: white;
transition:0.5s;
}
